body{
  text-align: center;
}
.question, .reponse, .dropZone{
  font-size: 24px;
  border: 2px solid DarkBlue;;
  border-radius: 15px;
  display:inline-block;
  width:30%;
  /* height:30px; */
  padding:20px 10px;
}
.question, .dropZone{
  margin-right:0.5%;
}
.reponse{
  background:#afdeed;
  margin:0;
}
.reponse:hover{
  cursor: grab;
}
.reponse.posee{
  width:calc(100% - 22px);
}
.reponseVide{
  font-size: 24px;
  display:inline-block;
  width:30%;
  padding:20px 10px;
  margin:0.3%;
}
.dropZone{
  border:1px dashed #888;
  height:100%;
}
.dropZone.highlight{
  background:#FFFEA1;
  border:2px dashed DarkBlue;
}
.dropZone.pleine{
  padding:0;
  width: calc(30% + 20px);
  border:1px solid LightGray;
}
#titreQuestion{
  font-size: 24px;
}
#boutonValider{
  border: 3px solid #4e7233;
  border-radius: 25px;
  height:50px;
  text-align: center;
  font-weight:bold;
  font-size:18px;
  background:#3fb13f;
  color:#A2F24D;
  display:inline;
  margin:20px 0;
  padding:0 15px;
  opacity:0;
  visibility:hidden;
}
#boutonReset{
  border: 3px solid #00D;
  border-radius: 15px;
  height:30px;
  text-align: center;
  font-weight:bold;
  font-size:18px;
  background:#3f75b1;
  color:#B9D2E7;
  display:inline;
  margin:20px 0;
  padding:0 15px;
  opacity:0;
  visibility:hidden;
}
.ligne{
  margin-bottom:5px;
}
